<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<style>
body{
  background-color: #f9f9f9;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.userAvatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  <title>TweetCode</title>
  </head>

  <body>
  <div class="navbar">
  <div class="row">
    <nav style="background-color: #1589FF">
      <div class="nav-wrapper bg-dark">
        <div class="col s12">
          <a id="logo" href="/tweets" class="brand-logo">TweetCode</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul id="navitem" class="right hide-on-med-and-down">
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container">

            <div>   
    <h3>Public TweetCodes
<a id="newCodeTweet"  href="/create" class="btn-floating btn-large waves-effect waves-light" style="background: #2B65EC"><i class="material-icons">add</i></a>
</h3>
    </div>
        <div id="divWrapper">
    <input type="search" id="filter" class="global-search" onkeyup="filter()" placeholder="Search">
    </div>
    <div>
    <table id="codeTweets"class="highlight">
    <tr> 
    <td>Owner</td>
     <td>Title</td>
     <td>Date</td>
    <td>Edit</td>
    <td>Delete</td>
     </tr> 
    </table>
    </div>

    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/loader.js"></script>

<script type="text/javascript" src="index.js"></script>
<script>
function filter() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("codeTweets");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
  </html>